@import "tailwindcss";

@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Creato Display", ui-sans-serif, system-ui, sans-serif;
}

html {
  font-size: 67%;
}

html,
body {
  font-family: var(--font-sans);
}
